@model MovieTheatre.Models.User

@{
    ViewBag.Title = @Model.Username;
    var isCurrentUserManager = (Boolean)Session["isCurrentUserManager"];
}
<header>
    <h2 class="header-text">
        @ViewBag.Title
        <small> - @Model.Email</small>
    </h2>
</header>

<hr />

<content>
    <h3>Reviews</h3>

    <hr />


</content>

@if (isCurrentUserManager)
{
    <p>
        @Html.ActionLink("Edit Review", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("See all Reviews", "Index")
    </p>
}
