@model MovieTheatre.Models.User

@{
    ViewBag.Title = @Model.Name;
}
<header>
    <h2 class="header-text">
        @ViewBag.Title
        <small> - @Model.Email</small>
    </h2>
</header>

<hr />

<content>
    <h3>Reviews</h3>

    <hr />


</content>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
