@model IEnumerable<MovieTheatre.Models.Movie>

@{
    ViewBag.Title = "Movies";
    var isCurrentUserManager = (Boolean)Session["isCurrentUserManager"];
}

<h2 class="header-text">@ViewBag.Title</h2>


@if (isCurrentUserManager)
{
    <p>
        @Html.ActionLink("Add Movie", "Create")
    </p>
}

<form asp-controller="Movie" asp-action="Index">
    <div class="input-group">
        <label class="input-group-addon">Name</label>
        <input type="text" name="movieName" class="form-control">

        <label class="input-group-addon">Year</label>
        <input type="text" name="year" class="form-control">

        <label class="input-group-addon">Director</label>
        <input type="text" name="director" class="form-control">

        <label class="input-group-addon">Genre</label>
        <input type="text" name="genre" class="form-control">

        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<content class="row">
    @foreach (var movie in Model)
    {
        <div class="col-sm-4">
            <a href="/Movie/Details/@movie.ID">
                <img class="review-img" src="@movie.Poster" style="width: 90%; margin: 5%; height: 465px"/>
            </a>
        </div>
    }
</content>

<hr />

<div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <div class="row">
        <div id="GenresChart" class="element1 col-md-5"></div>
        <div id="Directors" class="element2 col-md-7"></div>
    </div>

    <script type="text/javascript">
        $(document).ready(() => {
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/Movie/GetGenreData',
                success: (response) => {
                    google.charts.setOnLoadCallback(() => {
                        drawGenreChart(response);
                    });
                }
            })
        });

        google.charts.setOnLoadCallback(() => {
            drawDirectorsChart();
        });

        // Draw the chart and set the chart values
        function drawGenreChart(genres) {
            var data = google.visualization.arrayToDataTable([
                ['Genre', 'Movies'], ...genres.map(({ genre, amount }) => [genre, amount])
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Movie Genres', 'width': 550, 'height': 400 };

            // Display the chart inside the <div> element with id="GenresChart"
            var chart = new google.visualization.PieChart(document.getElementById('GenresChart'));
            chart.draw(data, options);
        }

        // Draw the chart and set the chart values
        function drawDirectorsChart() {
            var data = google.visualization.arrayToDataTable([
                ['Genre', 'Movies'],
                ['Jameson Cameron', 20],
                ['Alfred Hitchcock', 10],
                ['Steven Spielberg', 5],
                ['Christopher Nolan', 4],
                ["Quentin Tarantino", 3],
                ['Charles Chaplin', 2]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = { 'title': 'Movies of Directors', 'width': 550, 'height': 400 };

            // Display the chart inside the <div> element with id="Directors"
            var chart = new google.visualization.PieChart(document.getElementById('Directors'));
            chart.draw(data, options);
        }

    </script>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Highest rated movies"
                },
                axisY: {
                    includeZero: false
                },
                data: [{
                    type: "line",
                    dataPoints:
                    @Html.Raw(Json.Encode(@ViewBag.movieRating))
                }]
            });
            chart.render();
        }
    </script>

</div>
