@model IEnumerable<MovieTheatre.Models.Rating>

@{
    ViewBag.Title = "Reviews";
}

<h2 class="header-text">Reviews</h2>

<form asp-controller="Rating" asp-action="Index">
    <div class="input-group">
        <label class="input-group-addon">Username</label>
        <input type="text" name="username" class="form-control">

        <label class="input-group-addon">Movie Name</label>
        <input type="text" name="movieName" class="form-control">

        <label class="input-group-addon">Stars</label>
        <input type="number" name="stars" class="form-control">

        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<br />

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Movie Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Review)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
