@{
    ViewBag.Title = "Home Page";
    ViewBag.Name = "RASA Reviews";
}

@section styles {
    <link href="@Url.Content("~/Styles/HomePage.css")" rel="stylesheet" type="text/css" />
}

@model MovieTheatre.Controllers.HomeController.HomeModel

<content class="container">
    <div class="row">
        <div class="col-sm-7">
            <h1 class="header-text">Welcome to @(ViewBag.Name)</h1>

            <div class="reviews-container">
                <h3>Latest Reviews</h3>
                @foreach (var review in Model.latestReviews)
                {
                    <hr />
                    <section class="row">
                        <div class="col-sm-10">
                            <h4>
                                @review.User.Username -
                                <small class="@Html.Raw((review.Stars == 5) ? "avg-movie": (review.Stars > 5) ? "good-movie" : "bad-movie")">
                                    @review.Stars / 10
                                </small>
                            </h4>
                            <h5 class="review-text">@review.Review</h5>
                            <a class="btn btn-outline-primary" href="/User/Details/@review.UserID" role="button">Read more from this user. . .</a>
                        </div>
                        <div class="col-sm-2">
                            <a href="/Movie/Details/@review.MovieID">
                                <img class="review-img" src="@review.Movie.Poster" />
                            </a>
                        </div>
                    </section>
                }
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="suggest-txt">You might also like to watch...</h3>
            <br />
            <aside>
                <div id="suggested-movies" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        @for (int i = 0; i < Model.suggestedMovies.Count(); i++)
                        {
                            <li data-target="#suggested-movies" data-slide-to="@(i)" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>
                    <!-- Movies -->
                    <div class="carousel-inner carousel-slides-wrapper">
                        @for (int i = 0; i < Model.suggestedMovies.Count(); i++)
                        {
                            <div class="item carousel-item carousel-slide-wrapper @(i == 0 ? "active" : "")">
                                <a href="/Movie/Details/@(Model.suggestedMovies[i].ID)" class="carousel-slide-wrapper">
                                    <img class="carousel-slide-wrapper" src=@Html.DisplayFor(modelItem => Model.suggestedMovies[i].Poster)>
                                </a>
                            </div>
                        }
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#suggested-movies" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#suggested-movies" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </aside>
        </div>
    </div>
</content>