@{
    ViewBag.Title = "Home Page";
    ViewBag.Name = "Movie Reviews";
}

@section styles {
    <link href="@Url.Content("~/Styles/HomePage.css")" rel="stylesheet" type="text/css" />
}

@model List<MovieTheatre.Models.Movie>

<content class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Welcome to @(ViewBag.Name)</h1>
        </div>
        <div class="col-sm-4">
            <aside>
                <div id="suggested-movies" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <li data-target="#suggested-movies" data-slide-to="@(i)" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>
                    <!-- Movies -->
                    <div class="carousel-inner carousel-slides-wrapper">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <div class="item carousel-item carousel-image @(i == 0 ? "active" : "")">
                                <img class="d-block w-100 carousel-image" src=@Html.DisplayFor(modelItem => Model[i].Poster)>
                            </div>
                        }
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#suggested-movies" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#suggested-movies" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
            </aside>
        </div>
    </div>
</content>