@model MovieTheatre.Models.User
@{
    ViewData["Title"] = "Log In";
}

<h2>@ViewData["Title"]</h2>

<br />

@using (Html.BeginForm("LogIn", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken() // this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    <form>
        <div class="col-md-10">
            <label>Email</label>
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10">
            <label>Password</label>
            @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <br />

        <div class="col-md-10" style="margin-top: 5px">
            <input type="submit" class="btn btn-primary" value="Log In" name='button' />
            @Html.ActionLink("Register", "Create", "User")
        </div>
        <div class="col-md-10">
            <div style="color: red;font-weight:900;">@TempData["message"]</div>
        </div>
    </form>
}