<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - RASA Reviews</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart', 'gauge'] });
    </script>
</head>

@{
    Boolean isCurrentUserManager = MovieTheatre.Util.SessionManager.isCurrentUserManager(Session);
    Boolean isUserLoggedOn = MovieTheatre.Util.SessionManager.isUserLoggedOn(Session);
}

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <canvas id="canvas-logo" width="170" height="45"></canvas>
                </a>
                <script>
                    $(document).ready(() => {
                        var canvas = $('#canvas-logo');
                        var ctx = canvas[0].getContext("2d");
                        ctx.strokeStyle = "white";
                        ctx.font = "24px Verdanas";
                        ctx.strokeText("RASA Reviews", 0, 33);
                    })
                </script>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="width: 80%">
                    <li>@Html.ActionLink("Movies", "Index", "Movie")</li>

                    @if (isUserLoggedOn && isCurrentUserManager)
                    {
                        <li>@Html.ActionLink("Users", "Index", "User")</li>
                        <li>@Html.ActionLink("Ratings", "Index", "Rating")</li>
                    }

                    @if (!isUserLoggedOn)
                    {
                        <li class="pull-right">@Html.ActionLink("Log In", "LogIn", "Home")</li>
                    }
                    else
                    {
                        <li class="pull-right">@Html.ActionLink("Log Out", "Logout", "Home")</li>
                    }

                    <li class="pull-right">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="pull-right">@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RASA Reviews</p>
        </footer>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v3.3"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
